<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="imageForm">
        <input id="schema" type="file" name="schema">
        <input type="text" name="price">
        <input type="text" name="number">
        <input type="text" name="entrance">
        <input type="text" name="floor">
        <input type="text" name="status">
        <input type="text" name="type">
        <input type="text" name="house">
        <button class="post-image" type="button">add image</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
</html>
<script>
        $('.post-image').on('click', function() {
            var formData = new FormData(document.getElementById('imageForm'))

            var imagefile = document.querySelector('#schema');

            formData.append("schema", imagefile.files[0]);

            axios.post('http://127.0.0.1:8000/flats/', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'Authorization': 'Token 0d586482f0400602ee9b36cc5c11cd9b19843a08',
                }
            })

            <!--axios.put('http://127.0.0.1:8000/flats/7/', formData, {-->
                <!--headers: {-->
                    <!--'Content-Type': 'multipart/form-data',-->
                    <!--'Authorization': 'Token 0d586482f0400602ee9b36cc5c11cd9b19843a08',-->
                <!--}-->
            <!--})-->
        });
    </script>
